body{
  background-color:lightsalmon;
}
.all{
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kotak{
  background-color: black;
  text-align: center;
  min-width: 500px;
  max-width: 1000px;
  margin : auto;
  padding: auto;
}
.kotak h1{
  color: white;
  padding: 20px;
  font-size: 70px;
}
.kotak p{
  color: white;
  font-size: 25px;
}
#search{
  width: 375px;
  height: 30px;
}
#button{
  width: 70px;
  height: 30px;
  border-radius: 20%;
  padding: 7px;
  background-color: lightsalmon;
  text-align: center;
  color: brown;
  cursor: pointer;
}
#button:hover{
  background-color: brown;
  color: lightsalmon;
}
.tabel th{
  color: black;
  background-color: lightsalmon;
}
.tabel td{
  color: lightsalmon;
}
